node_modules
Dockerfile
Dockerfile-production
logs
UML 
README.md
.git
.gitignore
image
PROGETTOPATEST.postman_collection.json
test.sh
Diario_degli_esperimenti.pdf
d03cbf35_202206_PA_G01.docx
challcodeMiei.txt